@using DeVesen.Bazaar.Client.State

@inherits LayoutComponentBase

@inject StateFacade StateFacade

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />
@* Needed for dialogs *@
<MudDialogProvider />
@* Needed for snackbars *@
<MudSnackbarProvider />

<div class="page">

    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>


@code {

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        StateFacade.FetchAll();
    }

}
