@using Fluxor
@using DeVesen.Bazaar.Client.State.ArticleOverview

@inherits LayoutComponentBase

@inject ArticleOverviewFacade MenuFacade
@inject IState<ArticleOverviewState> MenuState

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />
@* Needed for dialogs *@
<MudDialogProvider />
@* Needed for snackbars *@
<MudSnackbarProvider />

<div class="page">

    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>
