@using DeVesen.Bazaar.Client.Components.Common.MainLayout

@inherits LayoutComponentBase

@* Required *@
<MudThemeProvider Theme="_dis3dpTheme" IsDarkMode="true" />
<MudPopoverProvider />
@* Needed for dialogs *@
<MudDialogProvider />
@* Needed for snackbars *@
<MudSnackbarProvider />

<div class="vw-100 vh-100 d-flex flex-column">
    <MudPaper Outlined Class="m-1 p-2 rounded-lg d-flex flex-row justify-space-between" Elevation="2">
        <div class="w-100 align-content-center">
            <MainLayoutTitleBar/>
        </div>
        <div class="align-content-center menu-button-toggler">
            <button title="Navigation menu" Class="navbar-toggler" @onclick="ToggleNavMenuAsync">
                <MudIcon Icon="@Icons.Material.TwoTone.Menu"/>
            </button>
        </div>
    </MudPaper>
    <div Class="d-flex flex-row flex-grow-1">
        <div Class="flex-grow-0 sidebar sidebar-toggler">
            <MudPaper Outlined Class="m-1 p-2 rounded-lg" Elevation="2">
                <NavMenu />
            </MudPaper>
        </div>
        <MudPaper Outlined Class="m-1 p-2 rounded-lg flex-grow-1" Elevation="2">
            @Body
        </MudPaper>
    </div>
</div>

<MudDrawer @bind-Open="@_showSidebar" Anchor="@Anchor.Left" Elevation="1" Variant="@DrawerVariant.Temporary" OverlayAutoClose="true">
    <NavMenu />
</MudDrawer>

@code {
    readonly MudTheme _dis3dpTheme = new()
        {
            // PaletteLight = new PaletteLight
            // {
            //     HoverOpacity = 0.06,

            //     Primary = "#CC0000",
            //     PrimaryDarken = "#A60000",
            //     PrimaryLighten = "#D30000",
            //     PrimaryContrastText = new MudColor("#FFFFFF"),

            //     TextPrimary = new MudColor("#222222"),
            //     TextSecondary = new MudColor("#666666"),
            //     TextDisabled = new MudColor("#B3B3B3"),

            //     ActionDefault = new MudColor("#F5F5F5"),
            //     ActionDisabled = new MudColor("#B3B3B3"),
            //     ActionDisabledBackground = new MudColor("#E5E5E5"),

            //     Dark = "#222222",

            //     Black = "#000000",
            //     White = "#FFFFFF",
            //     OverlayLight = "#ffffff",
            //     OverlayDark = "#222222",

            //     GrayDefault = "#B3B3B3",
            //     GrayDark = "#999999",
            //     GrayDarker = "#666666",
            //     GrayLight = "#D9D9D9",
            //     GrayLighter = "#F5F5F5",

            //     Info = "#0093DD",
            //     InfoDarken = "#007DBC",
            //     InfoLighten = "#04A3F3",
            //     InfoContrastText = "#ffffff",

            //     Success = "#00883D",
            //     SuccessDarken = "#007836",
            //     SuccessLighten = "#01ab4d",
            //     SuccessContrastText = "#ffffff",

            //     Warning = "#EE7F00",
            //     WarningDarken = "#CA6C00",
            //     WarningLighten = "#FF8A03",
            //     WarningContrastText = "#ffffff",

            //     Error = "#D12328",
            //     ErrorDarken = "#D12328",
            //     ErrorLighten = "#D12328",
            //     ErrorContrastText = "#ffffff",

            //     Surface = "#ffffff",
            //     Background = "#ffffff",
            //     BackgroundGray = "#f5f5f5",

            //     DrawerBackground = "#ffffff",
            //     DrawerText = "#cc0000",
            //     DrawerIcon = "#cc0000",

            //     AppbarBackground = "#222222",
            //     AppbarText = "#ffffff",

            //     Divider = "#d9d9d9"
            // },
            LayoutProperties = new LayoutProperties
            {
                DefaultBorderRadius = "0px",
                AppbarHeight = "48px"
            },
            Typography = new Typography
            {
                Default = new Default
                {
                    FontFamily = new[]
                        {
                        "Cabin",
                        "Helvetica Neue",
                        "Helvetica",
                        "Arial",
                        "sans - serif"
                    }
                },
                H4 =
                {
                    FontWeight = 700,
                    LineHeight = 1.167,
                    FontSize = "24px"
                },
                H5 =
                {
                    FontWeight = 700,
                    FontSize = "20px"
                },
                H6 =
                {
                    FontWeight = 700,
                    FontSize = "16px"
                },
                Body1 =
                {
                    FontWeight = 400,
                    FontSize = "16px"
                },
                Body2 =
                {
                    FontWeight = 400,
                    FontSize = "14px"
                },
                Subtitle1 =
                {
                    FontWeight = 700,
                    FontSize = "14px"
                },
                Subtitle2 =
                {
                    FontWeight = 400,
                    FontSize = "14px"
                },
                Caption =
                {
                    FontWeight = 400,
                    FontSize = "12px"
                },
                Button =
                {
                    FontWeight = 400,
                    FontSize = "20px",
                    TextTransform = "none"
                }
            }
        };

    private bool _showSidebar;

    private async Task ToggleNavMenuAsync()
    {
        _showSidebar = !_showSidebar;

        await Task.CompletedTask;
    }
}
