.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.nav-scrollable {
    max-height: 40vh;
    overflow-y: auto;
}

@media (min-width: 850px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        display: block;
    }

    .nav-scrollable {
        max-height: 40vh;
        overflow-y: auto;
    }
}
