@inherits LayoutComponentBase

@inject IJSRuntime JsRuntime

<script>
    function closeBlazorWindow() {
        window.close();
    }
</script>

<MudThemeProvider IsDarkMode="false" />

<div class="demo-area">
    <div>
        <div class="d-flex gap-6 p-3 w-100 no-print">
            <MudButton Variant="Variant.Filled"
                       StartIcon="@Icons.Material.TwoTone.Close"
                       IconSize="Size.Large"
                       Size="Size.Large"
                       Color="Color.Secondary"
                       OnClick="OnCancelPrintAsync">Abbruch</MudButton>
            <MudButton Variant="Variant.Filled"
                       StartIcon="@Icons.Material.TwoTone.Print"
                       IconSize="Size.Large"
                       Size="Size.Large"
                       Color="Color.Secondary"
                       OnClick="OnPrintAsync">Drucken</MudButton>
        </div>

        <div class="demo-page-background demo-page-din-a4-horizontal">
            @Body
        </div>
    </div>
</div>

@code {
    private async Task OnPrintAsync()
    {
        await JsRuntime.InvokeVoidAsync("window.print");
    }

    private async Task OnCancelPrintAsync()
    {
        await JsRuntime.InvokeVoidAsync("history.back");
    }

}
