
@page "/"

@using DeVesen.Bazaar.Client.State.Title
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@inject TitleFacade TitleFacade

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code {

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        TitleFacade.SetCaption("Startseite");
    }
}
