@typeparam T

<div style="@OuterStyle" class="@OuterClass">
    <MudTextField T="T"
                  Label="@Label"
                  Value="@Value"
                  ShrinkLabel
                  DebounceInterval="1000"
                  Margin="Margin.Dense"
                  Variant="Variant.Outlined"
                  ValueChanged="OnValueChanged"/>
</div>

@code {
    
    [Parameter]
    public string? OuterStyle { get; set; }

    [Parameter]
    public string? OuterClass { get; set; }

    [Parameter]
    public string Label { get; set; } = "Suche";

    [Parameter]
    public T? Value { get; set; }

    [Parameter]
    public EventCallback<T> ValueChanged { get; set; }

    private async Task OnValueChanged(T newValue)
    {
        Value = newValue;

        await ValueChanged.InvokeAsync(Value);
    }
}
